<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rollNumber %>
    <%= form.text_field :rollNumber %>
  </div>

  <div class="field">
    <%= form.label :startingYear %>
    <%= form.number_field :startingYear %>
  </div>

  <div class="field">
    <%= form.label :endingYear %>
    <%= form.number_field :endingYear %>
  </div>

  <div class="field">
    <%= form.label :program %>
    <%= form.text_field :program %>
  </div>

  <div class="field">
    <%= form.label :university %>
    <%= form.text_field :university %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
